<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="_body">
    <div class="container logo">
        @Html.Action("IsAdmin", "Account")
        <div class="row  top_logo">

        </div>
        <div class="row">

            <div class="col-1 img_logo">
                <img src="~/images/layout/logo_celentano.png" />
            </div>
            <div class="col-1 offset-2">
                <div>
                    <img src="~/images/layout/head_info_ua.png" />
                </div>
            </div>
            <div class="col-3 head_phone">
                (0362) 45-00-47
            </div>
            <div class="col-1 head_icon">
                <img src="~/images/layout/head_icons.png" />
            </div>
            <div class="col-2">
                <div class="row text_log">
                    @Html.Partial("_LoginPartial")
                </div>
                <div class="row text_bascet">
                    @Html.ActionLink("Empty", "Index", "Home", null, new { @class = "btn-link" });
                </div>
            </div>
        </div>
    </div>
    <div class="container main_menu">
        <div class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="btn btn-dark">@Html.ActionLink("Головна", "Index", "Home", null, new { @class = "nav-link" })</li>
                        <li class="btn btn-dark">@Html.ActionLink("Піца", "Index", "Home", null, new { @class = "nav-link" })</li>
                        <li class="btn btn-dark">@Html.ActionLink("Млинці", "Index", "Home", null, new { @class = "nav-link" })</li>
                        <li class="btn btn-dark">@Html.ActionLink("Кальцоне", "Index", "Home", null, new { @class = "nav-link" })</li>
                        <li class="btn btn-dark">@Html.ActionLink("Альфорно", "Index", "Home", null, new { @class = "nav-link" })</li>
                        <li class="btn btn-dark">@Html.ActionLink("Салати", "Index", "Home", null, new { @class = "nav-link" })</li>
                        <li class="btn btn-dark">@Html.ActionLink("Перше", "Index", "Home", null, new { @class = "nav-link" })</li>
                        <li class="btn btn-dark">@Html.ActionLink("Десерти", "Index", "Home", null, new { @class = "nav-link" })</li>
                        <li class="btn btn-dark">@Html.ActionLink("Салати", "Index", "Home", null, new { @class = "nav-link" })</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container content">
        @RenderBody()
        <hr />
        <footer class="futer">
            <div class="container">
                <div class="row" >
                    <div class="col-1">
                        <p>&copy; @DateTime.Now.Year</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
