@model PizzaChelentano.Models.Dish

@{
    ViewBag.Title = "DetailsDish";
    Layout = "~/Areas/Administration/Views/Shared/_LayoutADM.cshtml";
}

<h2>DetailsDish</h2>

<div>
    <h4>Dish</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeDish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeDish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PathImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PathImg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditDish", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Dishes")
</p>
