@model IEnumerable<PizzaChelentano.Models.Dish>

@{
    ViewBag.Title = "Dishes";
    Layout = "~/Areas/Administration/Views/Shared/_LayoutADM.cshtml";
}

<h2>Dishes</h2>

<p>
    <button class="btn">@Html.ActionLink("Create New", "CreateDishes", "Admin")</button>
</p>
<table class="table">
    <tr>
        <th style="width: 200px;">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="width: 200px;">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeDish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PathImg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeDish)
        </td>
        <td>
            @*<img src="@Url.Action("ShowImage","Admin", new {item.PathImg })" width="200" height="200" alt="@item.Name"/>*@
            
            <img src="@Url.Content(item.PathImg)" alt="@item.Name" width="100" height="100"/>
        </td>
        <td>
            @Html.ActionLink("Edit", "EditDish", new { id=item.Id }) |
            @Html.ActionLink("Details", "DetailsDish", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteDish", new { id=item.Id })
        </td>
    </tr>
}

</table>
