@model IEnumerable<PizzaChelentano.Models.Dish>

@{
    ViewBag.Title = "Dishes";
    Layout = "~/Areas/Administration/Views/Shared/_LayoutADM.cshtml";
}

<h2>Dishes</h2>

<p>
    @Html.ActionLink("Create New", "CreateDishes", "Admin")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeDish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PathImg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeDish)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PathImg)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditDish", new { id=item.Id }) |
            @Html.ActionLink("Details", "DetailsDish", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteDish", new { id=item.Id })
        </td>
    </tr>
}

</table>
