@using System.Globalization
@model IEnumerable<PizzaChelentano.Areas.Administration.Models.UserForAdmin>

@{
    ViewBag.Title = "Users";
    Layout = "~/Areas/Administration/Views/Shared/_LayoutADM.cshtml";
}

<h2>Users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.House)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberApartment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeRegistration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.House)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberApartment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeRegistration)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", new { id=item.Id }) |
            @Html.ActionLink("Details", "DetailsUser", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteUser", new { id=item.Id })
        </td>
    </tr>
}

</table>
