@model IEnumerable<PizzaChelentano.Models.Dish>

@{
    ViewBag.Title = "Pizza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pizza</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeDish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PathImg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeDish)
        </td>
        <td>
            <img src="@Url.Content(item.PathImg)" alt="@item.Name" width="100" height="100" />
        </td>
       
    </tr>
}

</table>
